* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1280px;
  margin: auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}

.jumbo {
  padding: 200px 0;
  background-image: url("/dc-comics/images/jumbotron.jpg");
  background-size: cover;
}

.section-title h2 {
  background-color: #0282F9;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  font-size: 30px;
  transform: translateY(-50%);
}

.header-top {
  background-color: #0282F9;
}

.header-top ul {
  list-style-type: none;
  text-align: right;
}

.header-top ul li {
  margin: 0 20px;
  display: inline-block;
}

.header-top ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.header-bottom {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.navbar {
  display: flex;
}

.logo {
  height: 80px;
  width: 80px;
}

.logo img {
  width: 100%;
}

.main-menu {
  display: flex;
  align-items: center;
}

.main-menu ul {
  list-style-type: none;
}

.main-menu ul li {
  display: inline-block;
  margin: 20px;
}

.main-menu ul li:hover {
  border-bottom: 2px solid #0282F9;
}

.main-menu ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
}

.main-menu ul li a:hover {
  color: #0282F9;
}

.main-menu ul li a span {
  color: #0282F9;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  text-align: right;
  border: 0;
  border-bottom: 2px solid #0282F9;
}

#series {
  background-color: #1C1C1C;
  color: white;
  padding-bottom: 50px;
}

#series .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

#series .card-container .card {
  flex-basis: 185px;
}

#series .card-container .card a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

#series .card-container .card a .comic-img {
  height: 185px;
  width: 185px;
}

#series .card-container .card a .comic-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#series .button-load {
  text-align: center;
}

#series .button-load a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #0282F9;
}

#blue-strip {
  background-color: #0282F9;
}

#blue-strip .comic-thumb-container {
  position: relative;
  padding: 25px 0;
}

#blue-strip .comic-thumb-container .comic-thumb-wrapper {
  position: absolute;
  bottom: 20px;
  border: 1px solid white;
}

#blue-strip .comic-thumb-container .comic-thumb-wrapper span:first-of-type {
  position: absolute;
  top: 0;
  color: white;
  background-color: #0282F9;
}

#blue-strip .comic-thumb-container .comic-thumb-wrapper span:last-of-type {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  background-color: #0282F9;
}

#blue-strip .comic-thumb-container .comic-thumb-wrapper img {
  display: block;
}

#comic-main {
  padding: 100px 0;
}

#comic-main .comic-info {
  float: left;
  width: calc(100% / 3 * 2);
}

#comic-main .comic-info h1 {
  color: #003f5e;
  padding: 15px;
}

#comic-main .comic-info .comic-status {
  display: flex;
  align-items: center;
  background-color: #55ba59;
  border: 1px solid #357739;
}

#comic-main .comic-info .comic-status .price {
  flex-grow: 1;
}

#comic-main .comic-info .comic-status .price,
#comic-main .comic-info .comic-status .availability,
#comic-main .comic-info .comic-status .check {
  padding: 15px;
}

#comic-main .comic-info .comic-status .availability {
  border-right: 1px solid #357739;
  color: #bafd9c;
}

#comic-main .comic-info .comic-status .price,
#comic-main .comic-info .comic-status .check {
  color: white;
}

#comic-main .comic-info .comic-description {
  line-height: 2;
  font-weight: 700;
  margin-top: 30px;
}

#comic-main .comic-adv {
  float: left;
  width: calc(100% /3);
  text-align: right;
}

#comic-main .comic-adv h5 {
  padding: 15px;
}

#comic-details {
  padding: 20px 0;
  background-color: #f6f6f6;
}

#comic-details .talent,
#comic-details .specs {
  width: calc(50% - 15px);
  float: left;
}

#comic-details .talent h2,
#comic-details .specs h2 {
  color: #003f5e;
}

#comic-details .talent ul,
#comic-details .specs ul {
  list-style-type: none;
}

#comic-details .talent ul li,
#comic-details .specs ul li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 1px solid #e3e3e3;
  padding: 15px 0;
  font-weight: 600;
}

#comic-details .talent ul li .talent-info,
#comic-details .specs ul li .talent-info {
  min-width: calc(100% / 3);
  max-width: calc(100% / 3);
  flex-grow: 1;
}

#comic-details .talent ul li .talent-data,
#comic-details .specs ul li .talent-data {
  flex-grow: 2;
}

#comic-details .talent ul li a,
#comic-details .specs ul li a {
  text-decoration: none;
  color: #0282F9;
}

#comic-details .talent {
  margin-right: 15px;
}

#comic-details .talent {
  margin-left: 15px;
}

#comic-details .icon-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#comic-details .icon-box-container .icon-box {
  flex-grow: 1;
}

#comic-details .icon-box-container .icon-box a {
  text-decoration: none;
}

#comic-details .icon-box-container .icon-box .icon-box-img {
  background-image: url("/dc-comics/images/cta-icons.png");
  display: inline-block;
  width: 37px;
  height: 37px;
}

#comic-details .icon-box-container .icon-box:nth-child(1) .icon-box-img {
  background-position: 0px 0;
}

#comic-details .icon-box-container .icon-box:nth-child(1):hover .icon-box-img {
  background-position: 0px 37px;
}

#comic-details .icon-box-container .icon-box:nth-child(2) .icon-box-img {
  background-position: 37px 0;
}

#comic-details .icon-box-container .icon-box:nth-child(2):hover .icon-box-img {
  background-position: 37px 37px;
}

#comic-details .icon-box-container .icon-box:nth-child(3) .icon-box-img {
  background-position: 74px 0;
}

#comic-details .icon-box-container .icon-box:nth-child(3):hover .icon-box-img {
  background-position: 74px 37px;
}

#comic-details .icon-box-container .icon-box:nth-child(4) .icon-box-img {
  background-position: 111px 0;
}

#comic-details .icon-box-container .icon-box:nth-child(4):hover .icon-box-img {
  background-position: 111px 37px;
}

footer {
  position: relative;
  background-image: url("/dc-comics/images/footer-bg.jpg");
  background-size: cover;
}

footer .footer-top-wrapper {
  background-image: url("/dc-comics/images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

footer .footer-top-wrapper .footer-top {
  display: flex;
}

footer .footer-top-wrapper .footer-top .footer-top-menu {
  margin-left: 15px;
  padding: 20px 0;
  color: white;
}

footer .footer-top-wrapper .footer-top .footer-top-menu ul {
  margin-bottom: 15px;
}

footer .footer-top-wrapper .footer-top .footer-top-menu ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

footer .footer-top-wrapper .footer-top .footer-top-menu ul li a {
  text-decoration: none;
  color: grey;
}

footer .footer-top-wrapper .footer-top-terms {
  padding: 20px 0;
  color: grey;
}

footer .footer-top-wrapper .footer-top-terms a {
  color: #0282F9;
  text-decoration: none;
}

footer .footer-bottom {
  background-color: #303030;
  padding: 30px 0;
}

footer .footer-bottom .footer-bottom-left {
  float: left;
  width: 50%;
}

footer .footer-bottom .footer-bottom-left .button {
  padding: 10px;
  border: 2px solid #0282F9;
  text-decoration: none;
  color: white;
  transition: all 0.2s linear;
}

footer .footer-bottom .footer-bottom-left .button:hover {
  background-color: #0282F9;
}

footer .footer-bottom .footer-bottom-right {
  float: left;
  width: 50%;
}

footer .footer-bottom .footer-bottom-right .social {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-bottom .footer-bottom-right .social .social-title {
  color: #0282F9;
  margin: 0 15px 0 0;
}

footer .footer-bottom .footer-bottom-right .social ul {
  list-style-type: none;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(1) {
  background-image: url("/dc-comics/images/footer-facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-left: 15px;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(1):hover {
  opacity: 0.8;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(1) a {
  display: inline-block;
  width: 35px;
  height: 35px;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(2) {
  background-image: url("/dc-comics/images/footer-twitter.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-left: 15px;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(2):hover {
  opacity: 0.8;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(2) a {
  display: inline-block;
  width: 35px;
  height: 35px;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(3) {
  background-image: url("/dc-comics/images/footer-youtube.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-left: 15px;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(3):hover {
  opacity: 0.8;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(3) a {
  display: inline-block;
  width: 35px;
  height: 35px;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(4) {
  background-image: url("/dc-comics/images/footer-pinterest.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-left: 15px;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(4):hover {
  opacity: 0.8;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(4) a {
  display: inline-block;
  width: 35px;
  height: 35px;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(5) {
  background-image: url("/dc-comics/images/footer-periscope.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-left: 15px;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(5):hover {
  opacity: 0.8;
}

footer .footer-bottom .footer-bottom-right .social ul li:nth-child(5) a {
  display: inline-block;
  width: 35px;
  height: 35px;
}

footer .dc-logo {
  position: absolute;
  top: 0;
}

