* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1280px;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

.jumbo {
  padding: 200px 0;
  background-image: url("/dc-comics/images/jumbotron.jpg");
  background-size: cover;
}

.section-title h2 {
  background-color: #0282F9;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  font-size: 30px;
  transform: translateY(-50%);
}

.header-top {
  background-color: #0282F9;
}

.header-top ul {
  list-style-type: none;
  text-align: right;
}

.header-top ul li {
  margin: 0 20px;
  display: inline-block;
}

.header-top ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.header-bottom {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.navbar {
  display: flex;
}

.logo {
  height: 80px;
  width: 80px;
}

.logo img {
  width: 100%;
}

.main-menu {
  display: flex;
  align-items: center;
}

.main-menu ul {
  list-style-type: none;
}

.main-menu ul li {
  display: inline-block;
  margin: 20px;
}

.main-menu ul li:hover {
  border-bottom: 2px solid #0282F9;
}

.main-menu ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
}

.main-menu ul li a:hover {
  color: #0282F9;
}

.main-menu ul li a span {
  color: #0282F9;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  text-align: right;
  border: 0;
  border-bottom: 2px solid #0282F9;
}

#series {
  background-color: #1C1C1C;
  color: white;
}

#series .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

#series .card-container .card {
  flex-basis: 185px;
}

#series .card-container .card a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

#series .card-container .card a .comic-img {
  height: 185px;
  width: 185px;
}

#series .card-container .card a .comic-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#blue-strip {
  background-color: #0282F9;
}

#blue-strip .comic-thumb-container {
  position: relative;
  padding: 25px 0;
}

#blue-strip .comic-thumb-container .comic-thumb-wrapper {
  position: absolute;
  bottom: 20px;
  border: 1px solid white;
}

#blue-strip .comic-thumb-container .comic-thumb-wrapper span:first-of-type {
  position: absolute;
  top: 0;
  color: white;
  background-color: #0282F9;
}

#blue-strip .comic-thumb-container .comic-thumb-wrapper span:last-of-type {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  background-color: #0282F9;
}

#blue-strip .comic-thumb-container .comic-thumb-wrapper img {
  display: block;
}

