*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.container{
  width: 1280px;
  margin: auto;
}

.uppercase{
  text-transform: uppercase;
}

.jumbo{
  padding: 200px 0;
  background-image: url('/dc-comics/images/jumbotron.jpg');
  background-size: cover;
}

.section-title h2{
  background-color: $main_color;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  font-size: 30px;
  transform: translateY(-50%);
}
