footer{
  position: relative;
  background-image: url('/dc-comics/images/footer-bg.jpg');
  background-size: cover;
  .footer-top-wrapper{
    background-image: url('/dc-comics/images/dc-logo-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    .footer-top{
      display: flex;
      .footer-top-menu{
        margin-left: 15px;
        padding: 20px 0;
        color: white;
        ul{
          margin-bottom: 15px;
          li{
            list-style-type: none;
            margin-bottom: 10px;
            a{
              text-decoration: none;
              color: grey;
            }
          }
        }
      }
    }
    .footer-top-terms{
      padding: 20px 0;
      color: grey;
      a{
        color: $main_color;
        text-decoration: none;
      }
    }
  }

  .footer-bottom{
    background-color: #303030;
    padding: 30px 0;
    .footer-bottom-left{
      float: left;
      .button{
        padding: 10px;
        border: 2px solid $main_color;
        text-decoration: none;
        color: white;
        transition: all 0.2s linear;
        &:hover{
          background-color: $main_color;
        }
      }

    }
    .footer-bottom-right{
      float: right;
      .social{
        display: flex;
        align-items: center;
        justify-content: center;
        .social-title {
          color: $main_color;
          margin: 0 15px 0 0;
        }
        ul{
          list-style-type: none;
          li:nth-child(1){
            background-image: url('/dc-comics/images/footer-facebook.png');
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            margin-left: 15px;
            &:hover{
              opacity: 0.8;
            }
            a{
              display: inline-block;
              width: 35px;
              height: 35px
            }
          }
          li:nth-child(2){
            background-image: url('/dc-comics/images/footer-twitter.png');
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            margin-left: 15px;
            &:hover{
              opacity: 0.8;
            }
            a{
              display: inline-block;
              width: 35px;
              height: 35px
            }
          }
          li:nth-child(3){
            background-image: url('/dc-comics/images/footer-youtube.png');
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            margin-left: 15px;
            &:hover{
              opacity: 0.8;
            }
            a{
              display: inline-block;
              width: 35px;
              height: 35px
            }
          }
          li:nth-child(4){
            background-image: url('/dc-comics/images/footer-pinterest.png');
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            margin-left: 15px;
            &:hover{
              opacity: 0.8;
            }
            a{
              display: inline-block;
              width: 35px;
              height: 35px
            }
          }
          li:nth-child(5){
            background-image: url('/dc-comics/images/footer-periscope.png');
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            margin-left: 15px;
            &:hover{
              opacity: 0.8;
            }
            a{
              display: inline-block;
              width: 35px;
              height: 35px
            }
          }
        }
      }
    }
  }
  .dc-logo{

    position: absolute;
    top: 0;
  }
}
