.header-top{
  background-color: $main_color;
  ul{
    list-style-type: none;
    text-align: right;
    li{
      margin: 0 20px;
      display: inline-block;
      a{
        text-decoration: none;
        color: white;
        font-size: 12px;
      }
    }
  }
}

.header-bottom{
  display: flex;
  justify-content: space-around;
}

.main-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  ul{
    list-style-type: none;
    li{
      display: inline-block;
      a{
        text-decoration: none;

      }
    }
  }
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  input{
    text-align: right;

  }
}
